<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="" src="https://i.postimg.cc/MH0h6R6m/blockchain.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light fw-bold">BLOCKCHAIN</h1>
            <div class="line w-20"></div>
            <h2 class="text-light pt-2 pb-3">We assist our clients to explore and develop solutions using blockchain
                technology that can help them extract real business value by utilizing our technical capabilities and
                experience to implement blockchain and DLT across their organization.</h2>
        </div>

    </div>
    <!-- Hero -->
</header>
<app-development-proc-sec></app-development-proc-sec>
<app-why-us></app-why-us>
<app-footnav></app-footnav>
<app-footer></app-footer>