
<footer class="w-100 text-center text-white pb-0 pt-4 mb-0 w-100" style="background-color: #100566;">
    <!-- Grid container -->
          <!-- Section: Social media -->
      <section class="container">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://facebook.com/computingprojects"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://twitter.com/ComputingORG"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-link btn-floating btn-lg text-white m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://www.instagram.com/computing.projects/"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://www.linkedin.com/company/computingprojects/"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-light m-1"
          href="https://github.com/CodeDroid999"
          role="button"
          data-mdb-ripple-color="light"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
     <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="footer-text text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class=" footer-text text-light" [routerLink]="['/contact']">Computingprojects.Org</a>
      <div class="mobile-ghost">
        <span class="px-2"><a href="">Terms of Use</a></span>
                        <span class="px-2"><a href="">Privacy Policy</a></span>
                        <span class="px-2"><a href="">Sitemap</a></span>
      </div>      
    </div>
    <!-- Copyright -->
  </footer>