<section class="footer">
    <div class="container-fluid">
        <div class="col-lg-3">
            <div class="heading">
                <h5 style="color: hsla(249, 62%, 24%, 0.916)"> OFFICES</h5>
            </div>
            <div class="col-lg-3">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> SERVICES</h5>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="heading">
                    
                </div>
            </div>
            <div class="col-lg-3">
                <div class="heading"></div>
            </div>
        </div>
    </div>
</section>

<div class="inner-footer">
    <div class="container-fluid">
        <div class="accordion row col-sm-12" id="accordionExample">
            <div class="menu-listing col contact-col">
                <button class="btn btn-link visible-xs collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Offices</button>
                <span class="footer-head hide-xs"><a href="https://www.xicom.biz/contact/">Offices</a></span>

                <div id="collapseOne" class="vd collapse" aria-labelledby="headingOne" data-parent="#accordionExample"
                    style="">

                    <p>
                        18 Bartol Street #1155 <br>
                        San Francisco, California 94133 <br>
                        United States. <br>
                        Phone +1.408.878.3255<br>
                    </p>

                    <p>

                        301-10 Opal Tower, Business Bay <br>
                        Dubai, United Arab Emirates.<br>
                        Phone +971.529144795<br>
                    </p>

                    <p>

                        C-1/134, Janak Puri, New Delhi<br>
                        110058 India.<br>
                        Phone +91.11.25502616<br>
                    </p>

                </div>
            </div>

            <div class="menu-listing col service-col">
                <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    Services</button>
                <span class="footer-head hide-xs"><a href="https://www.xicom.biz/services/">Services</a></span>

                <div id="collapseTwo" class="collapse vd" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <ul class="footernav">
                        <li><a href="https://www.xicom.biz/services/web-development/">Web Development</a></li>
                        <li><a href="https://www.xicom.biz/services/mobile-app-development/">Mobile App Development</a>
                        </li>
                        <li><a href="https://www.xicom.biz/services/software-development/">Software Development</a></li>
                        <li><a href="https://www.xicom.biz/services/consulting/">IT Consulting </a></li>
                    </ul>
                </div>
            </div>

            <div class="menu-listing col solution-col">
                <div class="inner-nav">
                    <button class="btn btn-link visible-xs" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Latest Thinking</button>
                    <span class="footer-head hide-xs"><a href="https://www.xicom.biz/latest-thinking/">Latest
                            Thinking</a></span>

                    <div id="collapseThree" class="collapse vd" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <ul class="footernav">
                            <li><a href="https://www.xicom.biz/latest-thinking/big-data-analytics/">Big Data &amp;
                                    Analytics</a></li>
                            <li><a href="https://www.xicom.biz/latest-thinking/internet-of-things/">IoT</a></li>
                            <li><a href="https://www.xicom.biz/latest-thinking/blockchain/">Blockchain</a></li>
                            <li><a href="https://www.xicom.biz/latest-thinking/artificial-intelligence/">Artificial
                                    Intelligence</a></li>
                            <li><a href="https://www.xicom.biz/latest-thinking/cloud-computing">Cloud Computing</a></li>
                        </ul>
                    </div>
                </div>
                <div class="inner-nav mb0">
                    <button class="btn btn-link visible-xs" type="button" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Solutions</button>
                    <span class="footer-head hide-xs"><a href="https://www.xicom.biz/solutions/">Solutions</a></span>
                    <div id="collapseSix" class="collapse vd" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <ul class="footernav">
                            <li><a href="https://www.xicom.biz/solutions/technologies/">Technologies</a></li>
                            <li><a href="https://www.xicom.biz/solutions/hire-developers/">Hire Developers</a></li>
                            <li><a href="https://www.xicom.biz/solutions/outsourcing/">IT Outsourcing</a></li>

                        </ul>
                    </div>
                </div>

            </div>

            <div class="menu-listing col company-col">
                <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour">
                    Corporate
                </button>

                <span class="footer-head hide-xs"><a href="https://www.xicom.biz/corporate/">Corporate</a></span>

                <div id="collapseFour" class="collapse vd" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <ul class="footernav">
                        <li><a href="https://www.xicom.biz/industries/">Industries </a></li>
                        <li><a href="https://www.xicom.biz/case-studies/">Case Studies</a></li>
                        <li><a href="https://www.xicom.biz/portfolio/">Portfolio</a></li>
                        <li><a href="https://www.xicom.biz/contact/">Contact Us</a></li>
                        <li><a href="https://www.xicom.biz/careers/">Careers</a></li>
                        <li><a href="https://www.xicom.biz/blog/">Blog</a></li>
                        <li><a href="https://www.xicom.biz/terms/">Terms of Use</a></li>
                        <li><a href="https://www.xicom.biz/privacy/">Privacy Policy</a></li>
                        <li><a href="https://www.xicom.biz/sitemap/">Sitemap</a></li>
                    </ul>
                </div>
            </div>


            <div class="menu-listing col visible-xs contact-link">
                <a href="https://www.xicom.biz/contact/" class="btn btn-link"> Contact </a>
            </div>


            <div class="menu-listing col hvQues">
                <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="true" aria-controls="collapseFive">
                    Have Questions?
                </button>

                <span class="footer-head hide-xs">Have Questions?</span>

                <div class="phone-contact">Get in touch with us <a href="tel:+1.408.878.3255"><span
                            class="number">+1.408.878.3255</span></a></div>
                <div id="collapseFive" class="vd collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample" style="">
                    <div class="rowfull">
                        Skype: <a href="skype:xicom.sales">xicom.sales</a><br>
                        Email: <a href="mailto:sales@xicom.biz">sales@xicom.biz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>