<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/zBP0MSnH/istockphoto-1203511380-612x612.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light">SOLUTIONS</h1>
            <div class="line w-20"></div>
            <h2 class="text-light ">Transform your operations with our technology & business expertise and scalable IT
                outsourcing solutions.</h2>
        </div>

    </div>


    <!-- Hero -->
</header>
<app-footnav></app-footnav>
<app-footer></app-footer>