h1 {
    font-size: 5rem;
}

h2 {
    color: rgb(244, 244, 244);
}


.line {
    height: 5px;
    border-width: 0;
    background-color: rgb(137, 5, 5)
}


.img-bg {
    background-repeat: no-repeat;
    position: fixed;
    z-index: -4;
}

header {
    background-color: linear-gradient(to left, #04102ccc 50%, #00000083 100%);
}

@media only screen and (max-width: 600px) {
    .bg-img {
        min-height: 35rem;
    }
    h1{
        font-size:2rem;
    }
    h2{
        font-size:1.5rem;
    }
}