.counter-sec,
.brands {
    border-top: solid 3px #ffff;
}
.card{
    display: flex;
    justify-content: end;
        vertical-align: bottom;
}


.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }
  
  .card:hover .card-overlay {
    display: block;
    background-color: rgba(#160750, 0.4);
  }
  
  .card-overlay-content {
    position: absolute;
    color: #fff;
    z-index: 1;
    background-color: #1d0566;
    height:100%;
    text-align: center;
    align-items:center;
  }

  .card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}