<app-navbar></app-navbar>
<section class="cover-page">
    <div class="background w-100">
        <img src="https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg" alt="" class="w-100">
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel bounce" data-bs-ride="carousel">
        <div class="carousel-inner w-100 text-left pt-5">
            <div class="carousel-item active pt-5 pb-2 px-3">
                <h1 class="text-white pt-2 pb-5 px-3 animate__animated animate__bounce">Empowering your business with IT
                    solutions.</h1>
                <hr class="hr w-50" />
                <h2 class="pt-1 pb-1 px-3 text-white">Enabling businesses to get competitive edge in the market by
                    building
                    scalable and extensible
                    software and mobile applications.</h2>

                <div class="d-grid d-md-block pt-1 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">EXPLORE OUR WORK</button>
                </div>
            </div>
            <div class="carousel-item  pb-2 px-3">
                <h1 class="text-white pt-5">Transform Your Online Presence</h1>
                <hr class="hr w-50" />
                <h2 class="text-white pt-5 pb-2 px-3 fw-bold">With a team of experts who leverage the latest digital
                    marketing
                    techniques and tools,
                    we create customized solutions to help your brand connect with your target audience in meaningful
                    ways and drive business growth.</h2>
                <div class="d-grid d-md-block pt-3 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">LEARN MORE</button>
                </div>
            </div>
            <div class="carousel-item  pt-5 pb-2 px-3">
                <h1 class="text-white pt-3">Partner with the Best in Digital</h1>
                <hr class="hr w-50" />
                <h2 class="text-white pt-5 pb-2 px-3">Access our top-quality services, cutting-edge technology, expert
                    guidance,
                    and industry-leading strategies to optimize digital operations and stay ahead of the competition.
                </h2>
                <div class="d-grid d-md-block pt-3 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">GET A FREE ESTIMATE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--carousel-->
<!-- Section: Intro message -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-2 px-md-2 text-center text-lg-start my-">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-4 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Transforming Your <br />
                    <span style="color: hsl(218, 81%, 75%)">Digital Vision into Reality</span>
                </h1>

            </div>

            <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card">
                    <div class="px-5 py-5 px-md-5">
                        <p class="mb-2 mt-2 text-cont opacity-10" style="color: hsl(180, 100%, 100%)">
                            We assist startups, SME's and large enterprises in making critical business decisions. At
                            our company, we strive to be the go-to partner for businesses that are looking to achieve
                            more through technology. We aspire to be recognised as an industry leader in IT innovation,
                            thought leadership, and excellence in delivery. Our team of experienced professionals
                            continue to work tirelessly to exceed our clients’ expectations.
                        </p>
                        <div class="d-flex m-1 pt-2">
                            <button class="btn btn-danger" type="button">GET A FREE ESTIMATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Intro message -->


<!-- Section: services-->
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/jSyCGZHV/web-development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">We help you uncover the opportunities of growth and
                            innovation by
                            building cutting-edge web apps that redefine emerging market trends and creates new
                            opportunities for your online business.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27">

                    <img src="https://i.postimg.cc/zv92RJ2c/mobile-app-development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Dvelopment</h5>
                        <p class="card-text">Our mobile application development services help you address evolving
                            market challenges by defining, designing and building software and mobile applications
                            tailored to meet your specific business requirements.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="card shadow w-27">

                <img src="https://i.postimg.cc/hvjb4HS3/software-engineering.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software Engineering</h5>
                    <p class="card-text">Our cross-industry, offshore software Engineering services help you craft a
                        vision for your organization and then implement a result-oriented technology framework that will
                        turn that vision into reality.</p>
                </div>
                <button class="btn btn-outline-success m-3" type="button">Learn more</button>
            </div>

            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/PrG5j0d6/slide2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">IT Consulting</h5>
                        <p class="card-text">Our IT consulting services helps enterprises and businesses to leverage
                            domain expertise, skills and technology to procure world class softwares, mobile
                            applications and other IT outsourcing solutions.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/j5r7CCb1/digital-marketing.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marketing Solutions</h5>
                        <p class="card-text">Our solutions are designed to help you achieve your
                            marketing objectives. We offer services, including search engine optimisation (SEO),
                            pay-per-click advertising (PPC) and social media marketing.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27 justify-content-center">

                    <img src="https://i.postimg.cc/rsyXVGYw/web-hosting-and-maintenance.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Hosting & Consulting</h5>
                        <p class="card-text">Our hosting solutions are scalable, fast, and secure, with 24/7 technical
                            support and regular backups. Our maintenance services include software updates, security
                            patches, regular backups, and website optimisation.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Section: services-->
    <!-- Section: transform-sec-->
    <section class="transform-sec">

        <div class="container-fluid">
            <div class="row justify-content-center text-align-center">
                <div class="col-sm-12 text-align-center">
                    <h1 class="my-5 display-5 fw-bold" style="color: hsl(218, 81%, 95%)">
                        We transform every industry and <br />
                        <span style="color: hsl(0, 87%, 24%)">business</span> processes.
                    </h1>
                </div>
            </div>
        </div>

    </section>
    <section class="counter-sec">
        <div class="certified-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 bl-col sm-col counter-Txt">
                        <span class="counter-value" data-count="10">4</span>
                        <p> YEARS IN BUSINESS </p>
                    </div>
                    <div class="col-sm-2 bls-col sm-col counter-Txt">
                        <span class="counter">300</span>
                        <p> IT PROFESSIONALS </p>
                    </div>
                    <div class="col-sm-4 bld-col sm-col counter-Txt">
                        <div class="sm-title"> ISO 9001 <span class="text-danger">CERTIFIED</span> </div>
                    </div>
                    <div class="col-sm-2 bls-col sm-col counter-Txt">
                        <span class="counter">1500</span>
                        <p> CLIENTS WORLDWIDE </p>
                    </div>
                    <div class="col-sm-2 bl-col sm-col counter-Txt">
                        <span class="counter">7500</span>
                        <p> PROJECTS EXECUTED </p>
                    </div>
                </div>
                <!--
                <div class="grey-bg c-no container-fluid">
                    <div class="container">
                        <div class="row" id="counter">
                            <div class="col-sm-4 counter-Txt"> Customers <span class="counter-value" data-count="10">0</span> Million</div>
                            <div class="col-sm-4 counter-Txt"> Product <span class="counter-value" data-count="25">0</span> Thousand</div>
                            <div class="col-sm-4 counter-Txt margin-bot-35"> Team <span class="counter-value" data-count="150">0</span> Peoples</div>
                        </div>
                    </div>
                </div>
             -->
            </div>
        </div>
    </section>
    <!--section: transform-sec-->
    <section class="py-5 bg-body-tertiary">

        <div class="container-fluid">
            <div class="row col-sm-12">
                <div class="col-lg-5 left-content">
                    <div class="col-lg-4 mb-5 mb-lg-0 " style="z-index: 10">
                        <h1 class="my-1 display-10 fw-bold ls-tight text-center" style="color: hsl(220, 92%, 15%)">
                            WE TRANSCEND HIGH<br />
                            <span style="color: hsla(0, 81%, 44%, 0.916)">PERFORMANCE</span> ARCHITECTURE AND CALIBRATED
                            <br /><span style="color: hsla(0, 81%, 44%, 0.916)">PROCESSES.</span>
                        </h1>

                    </div>
                    <div class="d-flex m-1 pt-2">
                        <button class="btn btn-danger" type="button">EXPLORE INDUSTRIES</button>
                    </div>
                </div>

                <div class="col-lg-7 row mr0 cols-sec">
                    <div class="col-sm-6 cols">
                        <a href="">
                            <img src="https://i.postimg.cc/ZRp1Wnr9/industires.png" class="col-icon"
                                alt="Web Development">
                            <h2> Industries </h2>
                            <div class="para"> We deploy the best in industry processes, methodologies and technology
                                frameworks to
                                help metamorphose our client's vision into actionable solutions.
                                <ul>
                                    <li>Automotive</li>
                                    <li>Media and Entertainment</li>
                                    <li>Healthcare</li>
                                    <li>Manufacturing</li>
                                    <li>Banking and Finance </li>
                                    <li> Real Estate</li>
                                    <li>Retail and Ecommerce</li>
                                    <li>Logistics and Transportation</li>
                                    <li>Travel and Tourism</li>
                                    <li>Education and E-Learning</li>
                                </ul>
                            </div>

                        </a>
                    </div>
                    <div class="col-sm-6 cols">
                        <a href="">
                            <img src="https://i.postimg.cc/FHsqHxr8/latest-thinking.png" class="col-icon"
                                alt="Mobile App Development">
                            <h2> Latest Thinking </h2>
                            <div class="para"> Computingprojects unlocks latest thinking and business values by
                                deploying calibrated and
                                proven process methodology that offers high performance business excellence.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Section: transform-sec -->

    <div class="section consultation-sec p-3">
        <div class="container-fluid w-100 align-items-center justify-content-center">
            <h1 class="my-1 display-10 fw-bold text-center" style="color: hsl(180, 11%, 98%)"> Our charter is to make IT
                think, talk <br>and <span style="color: hsla(0, 81%, 44%, 0.916)">perform</span> like a business. </h1>
        </div>
    </div>

    <section class="brands">
        <div class="brands-section">
            <div class="container-fluid display-flex pb-4 pt-4">
                <div class="row">
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b1.png" alt="brand1"></div>
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b2.png" alt="brand2"> </div>
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b3.png" alt="brand3"></div>
                    <div class="col ls-tight p-0 "><img src="https://www.xicom.biz/images/brands/b4.png" alt="brand4">
                    </div>
                    <div class="col ls-tight p-0"><img src="https://www.xicom.biz/images/brands/b5.png" alt="brand5">
                    </div>
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b6.png" alt="brand6"></div>
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b7.png" alt="brand7"></div>
                    <div class="col ls-tight"><img src="https://www.xicom.biz/images/brands/b8.png" alt="brand8"></div>

                </div>


            </div>
        </div>
    </section>

    <!-- Section: why-choose-us -->
    <section class="why-us px-3">
        <div class="section customer-sec">
            <div class="container-fluid">
                <div class="row mr0">
                    <div class="col-lg-5 cust-content">
                        <h4>
                            Why customers in over <br> <span class="text-danger">50+</span> countries choose <br>
                            Computingprojects Organization?
                        </h4>

                        <div class="column-box row">
                            <div class="col-sm-4 sm-cols reason">
                                <p> Flexible engagement models </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> 24x7 Support across all timezones </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Competitive pricing &amp; ontime delivery </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> State of the art it infrastructure </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Strong technology competency</p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Seamless communication </p>
                            </div>
                        </div>
                        <div class="d-flex m-1 pt-2">
                            <a href=""><button class="btn btn-danger" type="button">Explore Your Next</button></a>
                        </div>
                    </div>
                    <div class="col-lg-7 testimonial-cols">
                        <div class="testimonial-sec"
                            style="background-image: url(https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg)"
                            alt="">
                            <div id="carouselExampleSlidesOnly" class="carousel bounce" data-bs-ride="carousel"
                                data-interval=1000>
                                <div class="carousel-inner text-left mt-3">
                                    <div class="carousel-item bg-light active m-5 p-4">
                                        <h2 class="text-dark animate__animated animate__bounce">
                                            <span style="color: hsla(0, 81%, 44%, 0.916)">Michael Bullut</span> <span
                                                style="color: hsla(249, 62%, 24%, 0.916)"> . </span>Solstice
                                            technologies
                                        </h2>
                                        <h5 class="text-secondary pt-2">"Excellence is earned and trust is built over
                                            time. Over 2 year period, we collaborated with Computingprojects
                                            Organization and we were able to
                                            save over 55% in our service related costs, cutting our expenses by upto
                                            three million dollars a year."</h5>
                                    </div>
                                    <div class="carousel-item bg-light m-5 p-4">
                                        <h2 class="text-dark animate__animated animate__bounce">
                                            <span style="color: hsla(0, 81%, 44%, 0.916)">John Gachora</span> <span
                                                style="color: hsla(249, 62%, 24%, 0.916)"> . </span>NCBA Group
                                        </h2>
                                        <h5 class="text-secondary pt-2">"We have always enjoyed a high level of
                                            professionalism, continuity, stability and a customer focused approach
                                            working with Computingprojects Organization. They provide excellent
                                            technical skills and project
                                            management capabilities."</h5>
                                    </div>
                                    <div class="carousel-item bg-light m-5 p-4 ">
                                        <h2 class="text-dark animate__animated animate__bounce">
                                            <span style="color: hsla(0, 81%, 44%, 0.916)">Jeddidah Thotho</span> <span
                                                style="color: hsla(249, 62%, 24%, 0.916)"> . </span>Bata Shoe Kenya
                                        </h2>
                                        <h5 class="text-secondary pt-2">"Partnering with Computingprojects Organization
                                            has provided an efficient
                                            and cost-effective solution to meet out IT needs. They have consistently
                                            demonstrated 100% commitment and the tenacity to complete the most
                                            challenging projects."</h5>
                                    </div>
                                    <div class="carousel-item bg-light m-5 p-4">
                                        <h2 class="text-dark animate__animated animate__bounce">
                                            <span style="color: hsla(0, 81%, 44%, 0.916)">Jane Karuku</span> <span
                                                style="color: hsla(249, 62%, 24%, 0.916)"> . </span>East African
                                            Breweries

                                        </h2>
                                        <h5 class="text-secondary pt-2"> "We were very impressed with Computingprojects
                                            Organization
                                            Understanding the needs of customers is the key to any successful business.
                                            Xicom perfectly understands these needs and knows how to translate them into
                                            applicable strategies."</h5>
                                    </div>
                                    =======
                                    <div class="testimonial-sec"
                                        style="background-image: url(https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg)"
                                        alt="">
                                        <div id="carouselExampleSlidesOnly" class="carousel bounce"
                                            data-bs-ride="carousel">
                                            <div class="carousel-inner text-left">
                                                <div class="carousel-item active pt-5 pb-2 px-3">
                                                    <h5 class="text-white animate__animated animate__bounce">
                                                        Empowering your business with IT
                                                        solutions.</h5>
                                                    <hr class="hr w-50" />
                                                    <h2 class="pt-1 pb-1 px-3 text-white">Enabling businesses to get
                                                        competitive
                                                        edge in the market by
                                                        building
                                                        scalable and extensible
                                                        software and mobile applications.</h2>

                                                    <div class="d-grid d-md-block pt-1 px-3">
                                                        <button class="btn btn-danger pb-2 px-3" type="button">EXPLORE
                                                            OUR
                                                            WORK</button>
                                                    </div>
                                                </div>
                                                <div class="carousel-item  pb-2 px-3">
                                                    <h1 class="text-white pt-5">Transform Your Online Presence</h1>
                                                    <hr class="hr w-50" />
                                                    <h2 class="text-white pt-5 pb-2 px-3 fw-bold">With a team of experts
                                                        who
                                                        leverage the latest digital
                                                        marketing
                                                        techniques and tools,
                                                        we create customized solutions to help your brand connect with
                                                        your target
                                                        audience in meaningful
                                                        ways and drive business growth.</h2>
                                                    <div class="d-grid d-md-block pt-3 px-3">
                                                        <button class="btn btn-danger pb-2 px-3" type="button">LEARN
                                                            MORE</button>
                                                    </div>
                                                </div>
                                                <div class="carousel-item  pt-5 pb-2 px-3">
                                                    <h1 class="text-white pt-3">Partner with the Best in Digital</h1>
                                                    <hr class="hr w-50" />
                                                    <h2 class="text-white pt-5 pb-2 px-3">Access our top-quality
                                                        services,
                                                        cutting-edge technology, expert
                                                        guidance,
                                                        and industry-leading strategies to optimize digital operations
                                                        and stay
                                                        ahead of the competition.
                                                    </h2>
                                                    <div class="d-grid d-md-block pt-3 px-3">
                                                        <button class="btn btn-danger pb-2 px-3" type="button">GET A
                                                            FREE
                                                            ESTIMATE</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

 

    <section class="case-studies">
        <div class="container-fluid p-3 m-3">
            <h2 class="text-dark animate__animated animate__bounce">
                <span style="color: hsla(0, 81%, 44%, 0.916)">Case studies</span> <span
                    style="color: hsla(249, 62%, 24%, 0.916)"> of how our clients <br>have experienced <span
                        class="text-danger">competitive</span> advantage</span>
            </h2>

        </div>
        <div class="container-fluid p-3 m-3">
            <div class="row">
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card"
                        style="background-image: url(https://i.postimg.cc/3RSF705Y/sql-republic.jpg); height:20rem;"
                        alt="...">

                        <div class="card-body pt-5" style="background: linear-gradient(to bottom, #070707cc 0%, #000000f6 100%);
                ">
                            <h5 class="card-title text-white text-center pt-5"><img
                                    src="https://www.xicom.biz/images/brands/b1.png" alt="brand1"></h5>
                            <p class="card-text text-white text-center">SQL Republic</p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content p-3 pt-5">
                                <h5 class="card-title text-white"><img src="https://www.xicom.biz/images/brands/b1.png"
                                        alt="brand1"></h5>
                                <p class="card-text">SQL Republic</p>
                                <h6 class="card-text p-0 m-0">SOLRepublic is a headphone company focused on providing a
                                    better music experience through great sound producing products.
                                </h6>
                                <button class="btn btn-danger mt-4 pt-2" type="button">EXPLORE CASE STUDY</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card"
                        style="background-image: url(https://i.postimg.cc/3RSF705Y/sql-republic.jpg); height:20rem;"
                        alt="...">

                        <div class="card-body pt-5" style="background: linear-gradient(to bottom, #070707cc 0%, #000000f6 100%);
                ">
                            <h5 class="card-title text-white text-center pt-5"><img
                                    src="https://www.xicom.biz/images/brands/b2.png" alt="brand2"></h5>
                            <p class="card-text text-white text-center">SQL Republic</p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content p-3 pt-5">
                                <h5 class="card-title text-white"><img src="https://www.xicom.biz/images/brands/b2.png"
                                        alt="brand1"></h5>
                                <p class="card-text">SQL Republic</p>
                                <h6 class="card-text p-0 m-0">SOLRepublic is a headphone company focused on providing a
                                    better music experience through great sound producing products.
                                </h6>
                                <button class="btn btn-danger mt-4 pt-2" type="button">EXPLORE CASE STUDY</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->
                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card"
                        style="background-image: url(https://i.postimg.cc/3RSF705Y/sql-republic.jpg); height:20rem;"
                        alt="...">

                        <div class="card-body pt-5" style="background: linear-gradient(to bottom, #070707cc 0%, #000000f6 100%);
                ">
                            <h5 class="card-title text-white text-center pt-5"><img
                                    src="https://www.xicom.biz/images/brands/b3.png" alt="brand3"></h5>
                            <p class="card-text text-white text-center">SQL Republic</p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content p-3 pt-5">
                                <h5 class="card-title text-white"><img src="https://www.xicom.biz/images/brands/b3.png"
                                        alt="brand1"></h5>
                                <p class="card-text">SQL Republic</p>
                                <h6 class="card-text p-0 m-0">SOLRepublic is a headphone company focused on providing a
                                    better music experience through great sound producing products.
                                </h6>
                                <button class="btn btn-danger mt-4 pt-2" type="button">EXPLORE CASE STUDY</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->

                <!-- column  -->
                <div class="col-lg-3 col-sm-6 mb-4">
                    <!-- Row -->
                    <div class="card"
                        style="background-image: url(https://i.postimg.cc/3RSF705Y/sql-republic.jpg); height:20rem;"
                        alt="...">

                        <div class="card-body pt-5" style="background: linear-gradient(to bottom, #070707cc 0%, #000000f6 100%);
                ">
                            <h5 class="card-title text-white text-center pt-5"><img
                                    src="https://www.xicom.biz/images/brands/b4.png" alt="brand4"></h5>
                            <p class="card-text text-white text-center">SQL Republic</p>
                        </div>
                        <div class="card-overlay">
                            <div class="card-overlay-content p-3 pt-5">
                                <h5 class="card-title text-white"><img src="https://www.xicom.biz/images/brands/b4.png"
                                        alt="brand1"></h5>
                                <p class="card-text">SQL Republic</p>
                                <h6 class="card-text p-0 m-0">SOLRepublic is a headphone company focused on providing a
                                    better music experience through great sound producing products.
                                </h6>
                                <button class="btn btn-danger mt-4 pt-2" type="button">EXPLORE CASE STUDY</button>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                <!-- column  -->

            </div>
        </div>
    </section>

<app-footnav></app-footnav>