<app-navbar></app-navbar>
<section class="cover-page">
    <div class="background w-100">
        <img src="https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg" alt="" class="w-100">
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel bounce" data-bs-ride="carousel">
        <div class="carousel-inner w-100 text-left pt-5">
            <div class="carousel-item active pt-5 pb-2 px-3">
                <h1 class="text-white pt-2 pb-5 px-3 animate__animated animate__bounce">Empowering your business with IT
                    solutions.</h1>
                <hr class="hr w-50" />
                <h2 class="pt-1 pb-1 px-3 text-white">Enabling businesses to get competitive edge in the market by
                    building
                    scalable and extensible
                    software and mobile applications.</h2>

                <div class="d-grid d-md-block pt-1 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">EXPLORE OUR WORK</button>
                </div>
            </div>
            <div class="carousel-item  pb-2 px-3">
                <h1 class="text-white pt-5">Transform Your Online Presence</h1>
                <hr class="hr w-50" />
                <h2 class="text-white pt-5 pb-2 px-3 fw-bold">With a team of experts who leverage the latest digital
                    marketing
                    techniques and tools,
                    we create customized solutions to help your brand connect with your target audience in meaningful
                    ways and drive business growth.</h2>
                <div class="d-grid d-md-block pt-3 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">LEARN MORE</button>
                </div>
            </div>
            <div class="carousel-item  pt-5 pb-2 px-3">
                <h1 class="text-white pt-3">Partner with the Best in Digital</h1>
                <hr class="hr w-50" />
                <h2 class="text-white pt-5 pb-2 px-3">Access our top-quality services, cutting-edge technology, expert
                    guidance,
                    and industry-leading strategies to optimize digital operations and stay ahead of the competition.
                </h2>
                <div class="d-grid d-md-block pt-3 px-3">
                    <button class="btn btn-danger pb-2 px-3" type="button">GET A FREE ESTIMATE</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--carousel-->
<!-- Section: Intro message -->
<section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-2 px-md-2 text-center text-lg-start my-">
        <div class="row gx-lg-5 align-items-center mb-5">
            <div class="col-lg-4 mb-5 mb-lg-0" style="z-index: 10">
                <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
                    Transforming Your <br />
                    <span style="color: hsl(218, 81%, 75%)">Digital Vision into Reality</span>
                </h1>

            </div>

            <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
                <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
                <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
                <div class="card">
                    <div class="px-5 py-5 px-md-5">
                        <p class="mb-2 mt-2 text-cont opacity-10" style="color: hsl(180, 100%, 100%)">
                            We assist startups, SME's and large enterprises in making critical business decisions. At
                            our company, we strive to be the go-to partner for businesses that are looking to achieve
                            more through technology. We aspire to be recognised as an industry leader in IT innovation,
                            thought leadership, and excellence in delivery. Our team of experienced professionals
                            continue to work tirelessly to exceed our clients’ expectations.
                        </p>
                        <div class="d-flex m-1 pt-2">
                            <button class="btn btn-danger" type="button">GET A FREE ESTIMATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section: Intro message -->


<!-- Section: services-->
<div class="album py-5 mb-3 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/jSyCGZHV/web-development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">We help you uncover the opportunities of growth and
                            innovation by
                            building cutting-edge web apps that redefine emerging market trends and creates new
                            opportunities for your online business.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27">

                    <img src="https://i.postimg.cc/zv92RJ2c/mobile-app-development.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mobile App Dvelopment</h5>
                        <p class="card-text">Our mobile application development services help you address evolving
                            market challenges by defining, designing and building software and mobile applications
                            tailored to meet your specific business requirements.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="card shadow w-27">

                <img src="https://i.postimg.cc/hvjb4HS3/software-engineering.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Software Engineering</h5>
                    <p class="card-text">Our cross-industry, offshore software Engineering services help you craft a
                        vision for your organization and then implement a result-oriented technology framework that will
                        turn that vision into reality.</p>
                </div>
                <button class="btn btn-outline-success m-3" type="button">Learn more</button>
            </div>

            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/PrG5j0d6/slide2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">IT Consulting</h5>
                        <p class="card-text">Our IT consulting services helps enterprises and businesses to leverage
                            domain expertise, skills and technology to procure world class softwares, mobile
                            applications and other IT outsourcing solutions.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27">
                    <img src="https://i.postimg.cc/j5r7CCb1/digital-marketing.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Digital Marketing Solutions</h5>
                        <p class="card-text">Our solutions are designed to help you achieve your
                            marketing objectives. We offer services, including search engine optimisation (SEO),
                            pay-per-click advertising (PPC) and social media marketing.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>
            <div class="col">
                <div class="card shadow w-27 justify-content-center">

                    <img src="https://i.postimg.cc/rsyXVGYw/web-hosting-and-maintenance.jpg" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Hosting & Consulting</h5>
                        <p class="card-text">Our hosting solutions are scalable, fast, and secure, with 24/7 technical
                            support and regular backups. Our maintenance services include software updates, security
                            patches, regular backups, and website optimisation.</p>
                    </div>
                    <button class="btn btn-outline-success m-3" type="button">Learn more</button>
                </div>
            </div>

        </div>
    </div>
    <!-- Section: services-->
    <!-- Section: transform-sec-->
    <section class="transform-sec mt-3">

        <div class="container-fluid">
            <div class="row justify-content-center text-align-center">
                <div class="col-sm-12 text-align-center">
                    <h1 class="my-5 display-5 fw-bold" style="color: hsl(218, 81%, 95%)">
                        We transform every industry and <br />
                        <span style="color: hsl(0, 87%, 24%)">business</span> processes.
                    </h1>
                </div>
            </div>
        </div>

    </section>
    <section class="counter-sec">
        <div class="certified-sec">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 bl-col sm-col counter-Txt">
                        <span class="counter-value" data-count="10">0</span>
                        <p> YEARS IN BUSINESS </p>
                    </div>
                    <div class="col-sm-2 bls-col sm-col counter-Txt">
                        <span class="counter">300</span>
                        <p> IT PROFESSIONALS </p>
                    </div>
                    <div class="col-sm-4 bld-col sm-col counter-Txt">
                        <div class="sm-title"> ISO 9001 <span class="text-danger">CERTIFIED</span> </div>
                    </div>
                    <div class="col-sm-2 bls-col sm-col counter-Txt">
                        <span class="counter">1500</span>
                        <p> CLIENTS WORLDWIDE </p>
                    </div>
                    <div class="col-sm-2 bl-col sm-col counter-Txt">
                        <span class="counter">7500</span>
                        <p> PROJECTS EXECUTED </p>
                    </div>
                </div>
                <!--
                <div class="grey-bg c-no container-fluid">
                    <div class="container">
                        <div class="row" id="counter">
                            <div class="col-sm-4 counter-Txt"> Customers <span class="counter-value" data-count="10">0</span> Million</div>
                            <div class="col-sm-4 counter-Txt"> Product <span class="counter-value" data-count="25">0</span> Thousand</div>
                            <div class="col-sm-4 counter-Txt margin-bot-35"> Team <span class="counter-value" data-count="150">0</span> Peoples</div>
                        </div>
                    </div>
                </div>
             -->
            </div>
        </div>
    </section>
    <!--section: transform-sec-->
    <section class="py-5 bg-body-tertiary">

        <div class="container-fluid">
            <div class="row col-sm-12">
                <div class="col-lg-5 left-content">
                    <div class="col-lg-4 mb-5 mb-lg-0" style="z-index: 10">
                        <h1 class="my-1 display-10 fw-bold ls-tight" style="color: hsl(220, 92%, 15%)">
                            WE TRANSCEND HIGH<br />
                            <span style="color: hsla(0, 81%, 44%, 0.916)">PERFORMANCE</span> ARCHITECTURE AND CALIBRATED
                            <br /><span style="color: hsla(0, 81%, 44%, 0.916)">PROCESSES.</span>
                        </h1>

                    </div>
                    <div class="d-flex m-1 pt-2">
                        <button class="btn btn-danger" type="button">EXPLORE INDUSTRIES</button>
                    </div>
                </div>

                <div class="col-lg-7 row mr0 cols-sec">
                    <div class="col-sm-6 cols">
                        <a href="">
                            <img src="https://i.postimg.cc/ZRp1Wnr9/industires.png" class="col-icon"
                                alt="Web Development">
                            <h2> Industries </h2>
                            <div class="para"> We deploy the best in industry processes, methodologies and technology
                                frameworks to
                                help metamorphose our client's vision into actionable solutions.
                                <ul>
                                    <li>Automotive</li>
                                    <li>Media and Entertainment</li>
                                    <li>Healthcare</li>
                                    <li>Manufacturing</li>
                                    <li>Banking and Finance </li>
                                    <li> Real Estate</li>
                                    <li>Retail and Ecommerce</li>
                                    <li>Logistics and Transportation</li>
                                    <li>Travel and Tourism</li>
                                    <li>Education and E-Learning</li>
                                </ul>
                            </div>

                        </a>
                    </div>
                    <div class="col-sm-6 cols">
                        <a href="">
                            <img src="https://i.postimg.cc/FHsqHxr8/latest-thinking.png" class="col-icon"
                                alt="Mobile App Development">
                            <h2> Latest Thinking </h2>
                            <div class="para"> Computingprojects unlocks latest thinking and business values by
                                deploying calibrated and
                                proven process methodology that offers high performance business excellence.</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Section: transform-sec -->

    <!-- Section: why-choose-us -->
    <section class="why-us px-3">
        <div class="section customer-sec">
            <div class="container-fluid">
                <div class="row mr0">
                    <div class="col-lg-5 cust-content pt-3">
                        <h4>
                            Why customers in over <br> <span class="text-danger">50+</span> countries choose <br>
                            Computingprojects Organization?
                        </h4>

                        <div class="column-box row pt-3 pb-2 px-3">
                            <div class="col-sm-4 sm-cols reason">
                                <p> Flexible engagement models </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> 24x7 Support across all timezones </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Competitive pricing &amp; ontime delivery </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> State of the art it infrastructure </p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Strong technology competency</p>
                            </div>
                            <div class="col-sm-4 sm-cols reason">
                                <p> Seamless communication </p>
                            </div>
                        </div>
                        <div class="d-flex m-1 pt-2">
                            <a href=""><button class="btn btn-danger" type="button">Explore Your Next</button></a>
                        </div>
                    </div>
                    <div class="col-lg-7 testimonial-cols">
                        <div class="testimonial-sec"
                            style="background-image: url(https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg)"
                            alt="">
                            <div id="carouselExampleSlidesOnly" class="carousel bounce" data-bs-ride="carousel">
                                <div class="carousel-inner text-left mt-3">
                                    <div class="carousel-item bg-light active mt-5 mx-5 p-4">
                                        <p class="text-dark animate__animated animate__bounce">
                                            Empowering your business with IT
                                            solutions.</p>
                                        <p class="text-dark">Enabling businesses to get competitive
                                            edge in the market by
                                            building
                                            scalable and extensible
                                            software and mobile applications.</p>
                                    </div>
                                    <div class="carousel-item bg-light mt-5 mx-5 p-4">
                                        <p class="text-dark">Transform Your Online Presence</p>
                                        <p class="text-dark fw-bold">With a team of experts who
                                            leverage the latest digital
                                            marketing
                                            techniques and tools,
                                            we create customized solutions to help your brand connect with your target
                                            audience in meaningful
                                            ways and drive business growth.</p>
                                                                            </div>
                                    <div class="carousel-item bg-light mt-5 mx-5 p-4">
                                        <p class="text-dark">Partner with the Best in Digital</p>
                                        <p class="text-dark">Access our top-quality services,
                                            cutting-edge technology, expert
                                            guidance,
                                            and industry-leading strategies to optimize digital operations and stay
                                            ahead of the competition.
                                        </p>
                                                                           </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>














    <section class="py-2 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p class="lead fw-bold">Transforming Your Digital Vision into Reality
                </p>
            </div>
        </div>
    </section>