<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100 h-100"
        src="https://i.postimg.cc/K8wvS8X0/cloud-storage-background-remixed-from-public-domain-by-nasa-min.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light">LATEST THINKING</h1>
            <div class="line w-20"></div>
            <h3 class="text-light pt-3 pb-3 ">Wide breadth of emerging technologies like Big Data and Analytics,
                Internet of
                Things, Artificial Intelligence, Blockchain and Cloud Computing for companies worldwide.</h3>
        </div>

    </div>


    <!-- Hero -->
</header>
<section class="latest-thinking bg-light p-3">
    <div class="latest-thinking-sec mbs">
        <div class="container" data-aos="fade-up">
            <div class="hsgroup row mr0">
                <div class="col-sm-8 pt-2 mt-2 mb-2">
                    <h2 class="my-2 fw-bold ls-tight" style="color: hsl(220, 97%, 14%)">
                        Driving Innovation to transform <br />
                        <span style="color: hsl(2, 87%, 38%)">Digital</span> Ecosystem.
                    </h2>
                    <div class="small-heading text-secondary">We deliver highest level of customer service by deploying
                        innovative and
                        collaborative project management systems to build the most professional, robust and highly
                        scalable web &amp; mobile solutions with highest quality standards.</div>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <img class="lt-img" src="https://www.xicom.biz/images/latest-thinking.jpg" alt="Contact Xicom">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="thinking-items bg-light p-3 pt-3">
    <div class="section boxes-sections">
        <div class="container aos-init aos-animate" data-aos="fade-up">
            <div class="row-no-gutters d-flex mr0">
                <div class="col-sm-6 left-cols">
                    <a [routerLink]="['/big-data-and-analytics']">
                        <div class="big-data p-5" style="background-color: rgb(11, 11, 85);">
                            <div class="middle-content text-light">
                                <h2>Big Data &amp; Analytics</h2>
                                <p class="sm-heading pb-3"> We assist clients in leveraging full potential of their data
                                    by
                                    architecting and implementing Big Data Solutions to make the data meaningful and
                                    providing insighs to take business to the next level. </p>
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="['/artficial-intelligence']">
                        <div class="art-intelligence" style="background-color: rgb(35, 145, 224);">
                            <div class="middle-content text-light">
                                <h2> Artificial Intelligence </h2>
                                <p class="sm-heading pb-4"> Reshape the business today with innovative solutions
                                    provided by
                                    AI. We believe in delivering top-of-the-line performance by building robust &amp;
                                    result-oriented AI solutions to boost business performance. </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 right-cols">
                    <a [routerLink]="['/blockchain']">
                        <div class="Blockchain p-5" style="background-color: rgb(35, 145, 224);">
                            <div class="middle-content text-light">
                                <h2> Blockchain </h2>
                                <p class="sm-heading"> With 20+ years of experience building enterprise applications, we
                                    are the blockchain development company with deep understanding of AI, IoT and cloud
                                    services. We build dApps faster and risk-free. </p>
                            </div>
                        </div>
                    </a>
                    <a [routerLink]="['/internet-of-things']">
                        <div class="iot p-5" style="background-color:  rgb(4, 76, 120);">
                            <div class="middle-content text-light">
                                <h2> Internet of Things </h2>
                                <p class="sm-heading"> Our IOT development services can help you to seize the new
                                    opportunity and develop game-changing products. We work in parallel during
                                    industrial design, manufacturing, with iot development process to bring seamless
                                    software, IoT mobile app, iot android apps experience for the end user. </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 w-100">
                <a [routerLink]="['/cloud-computing']">
                    <div class="cloud-computing p-5" style="background-color: rgb(11, 11, 85);">
                        <div class="middle-content text-light">
                            <h2> Cloud Computing </h2>
                            <p class="sm-heading"> We provide cloud-based automated solutions that provide safe,
                                seamless and rapid migration of your business, enterprise and customer-centric
                                applications to the cloud. We are a comprehensive cloud computing solutions provider
                                helping companies of all sizes and across industries, thus recognizing the power of
                                cloud computing. </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<app-why-us></app-why-us>
<app-footnav></app-footnav>
<app-footer></app-footer>