<section class="brands-sec bg" style="background-color: hsla(249, 62%, 24%, 0.916)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 pt-3">
                <h1 class=" display-10 text-center">
                    <span style="color: hsla(240, 20%, 96%, 0.916)">OUR CHARTER IS TO MAKE IT THINK, TALK
                        AND <span class="text-danger">PERFORM</span> LIKE A BUSINESS.</span>
                </h1>
            </div>
        </div>
    </div>
</section>
<section class="brand-logos pt-3 pb-3" style="background-color: hsl(242, 83%, 26%)">
    <div class="brands-section">
        <div class="container d-flex">
            <div class="row">
                <div class="col-lg-10 col-sm-8 d-flex">
                    <div class="row">
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b1.png" alt="brand1"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b2.png" alt="brand2"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b3.png" alt="brand3"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b4.png" alt="brand4"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b5.png" alt="brand5"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b6.png" alt="brand6"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b7.png" alt="brand7"> </div>
                        <div class="col"> <img src="https://www.xicom.biz/images/brands/b8.png" alt="brand8"> </div>
                    </div>
                </div>
                <div class="col cta">
                    <button class="btn" type="button"> Explore Our Work </button>
                </div>
            </div>
        </div>
    </div>
</section>