a{
    text-decoration: none;
}
.col{
    display: flex;
    flex-wrap: wrap;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
}

@media(min-width:320px) and (max-width:767px) {
    span{
        font-size:1.2rem;
    }
    .col{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0.3rem;
        margin-top:0.9rem;
        align-items: center;
        justify-content: center;
    }
}
