<!-- Section: why-choose-us -->
<section class="why-us px-3 bg-light">
    <div class="section customer-sec">
        <div class="container">
            <div class="row mr0">
                <div class="col-lg-5 cust-content">
                    <h2 class="mt-4 animate__animated animate__bounce">
                        <span style="color: hsla(249, 62%, 24%, 0.916)">Why customers in over<span
                                class="text-danger">50
                                +</span> countries choose us?</span>
                    </h2>
                    <div class="column-box row">
                        <div class="col-sm-4 sm-cols reason">
                            <p> Flexible engagement models </p>
                        </div>
                        <div class="col-sm-4 sm-cols reason">
                            <p> 24x7 Support across all timezones </p>
                        </div>
                        <div class="col-sm-4 sm-cols reason">
                            <p> Competitive pricing &amp; ontime delivery </p>
                        </div>
                        <div class="col-sm-4 sm-cols reason">
                            <p> State of the art it infrastructure </p>
                        </div>
                        <div class="col-sm-4 sm-cols reason">
                            <p> Strong technology competency</p>
                        </div>
                        <div class="col-sm-4 sm-cols reason">
                            <p> Seamless communication </p>
                        </div>
                    </div>
                    <div class="d-flex m-1 pt-2">
                        <a href=""><button class="btn rounded-pill" type="button">Explore Your Next</button></a>
                    </div>
                </div>
                <div class="col-lg-7 testimonial-cols">
                    <div class="testimonial-sec"
                        style="background-image: url(https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg)"
                        alt="">
                        <div id="carouselExampleSlidesOnly" class="carousel bounce" data-bs-ride="carousel"
                            data-interval=600>
                            <div class="carousel-inner text-left mt-3">
                                <div class="carousel-item bg-light active m-5 p-4">
                                    <h2 class="text-dark animate__animated animate__bounce">
                                        <span style="color: hsla(0, 81%, 44%, 0.916)">Michael Bullut</span> <span
                                            style="color: hsla(249, 62%, 24%, 0.916)"> . </span>Solstice
                                        technologies
                                    </h2>
                                    <h5 class="text-secondary pt-2">"Excellence is earned and trust is built over
                                        time. Over 2 year period, we collaborated with Computingprojects
                                        Organization and we were able to
                                        save over 55% in our service related costs, cutting our expenses by upto
                                        three million dollars a year."</h5>
                                </div>
                                <div class="carousel-item bg-light m-5 p-4">
                                    <h2 class="text-dark animate__animated animate__bounce">
                                        <span style="color: hsla(0, 81%, 44%, 0.916)">John Gachora</span> <span
                                            style="color: hsla(249, 62%, 24%, 0.916)"> . </span>NCBA Group
                                    </h2>
                                    <h5 class="text-secondary pt-2">"We have always enjoyed a high level of
                                        professionalism, continuity, stability and a customer focused approach
                                        working with Computingprojects Organization. They provide excellent
                                        technical skills and project
                                        management capabilities."</h5>
                                </div>
                                <div class="carousel-item bg-light m-5 p-4 ">
                                    <h2 class="text-dark animate__animated animate__bounce">
                                        <span style="color: hsla(0, 81%, 44%, 0.916)">Jeddidah Thotho</span> <span
                                            style="color: hsla(249, 62%, 24%, 0.916)"> . </span>Bata Shoe Kenya
                                    </h2>
                                    <h5 class="text-secondary pt-2">"Partnering with Computingprojects Organization
                                        has provided an efficient
                                        and cost-effective solution to meet out IT needs. They have consistently
                                        demonstrated 100% commitment and the tenacity to complete the most
                                        challenging projects."</h5>
                                </div>
                                <div class="carousel-item bg-light m-5 p-4">
                                    <h2 class="text-dark animate__animated animate__bounce">
                                        <span style="color: hsla(0, 81%, 44%, 0.916)">Jane Karuku</span> <span
                                            style="color: hsla(249, 62%, 24%, 0.916)"> . </span>East African
                                        Breweries

                                    </h2>
                                    <h5 class="text-secondary pt-2"> "We were very impressed with Computingprojects
                                        Organization
                                        Understanding the needs of customers is the key to any successful business.
                                        Xicom perfectly understands these needs and knows how to translate them into
                                        applicable strategies."</h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>