<app-navbar></app-navbar>
<section class="header">
    <div class="background w-70 mt-5">
        <img src="https://i.postimg.cc/x8xKmKHF/digital-marketing-agency-business.jpg" alt="Mobile App Development"
            class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="banner-right-content col-lg-5">

                <h1 class=" display-10 text-left fw-bold pt-5 mt-5">
                    <span style="color: hsla(240, 87%, 25%, 0.916)"><span class="text-danger"> It</span> consulting <br>
                        Services</span>
                </h1>
                <h3 class="text pt-2 pb-3"> Computingprojects offers robust and scalable We provide business &
                    technology consulting services to enterprises and organizations looking to supplement their IT
                    requirements.

                </h3>
            </div>
        </div>
    </div>
</section>
<app-services-sec></app-services-sec>
<app-development-proc-sec></app-development-proc-sec>
<app-footnav></app-footnav>
<app-footer></app-footer>