<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/FzzjRVpy/home-min.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light">INDUSTRIES</h1>
            <div class="line w-20"></div>
            <h3 class="text-light pt-3 pb-3">ComputingProjectsOrg helps accelerate innovation and gratify industry specific best
                practices to help
                run your core business efficiently.</h3>
        </div>

    </div>
    <!-- Hero -->
</header>
<div class="section industries-sec pt-5">
    <div class="container w-100">
        <div class="row-no-gutters d-flex flex-wrap bg-light">
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/automotive.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">AUTOMOTIVE</h5>
                            <h6 class="card-text">To improvise supply chain collaboration and diversify product
                                offerings, Xicom
                                develops
                                end-to-end automotive business solutions focusing on dealer management, CRM and ERP
                                solutions.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/real-estate.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">REAL ESTATE</h5>
                            <h6 class="card-text">Showcase your properties and connect with prospect buyers in a better
                                manner. Xicom develops
                                portals, mobile applications and full-cycle CRM solutions that give your real estate
                                business a competitive edge.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/media.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">ENTERTAINMENT</h5>
                            <h6 class="card-text">Mapping the changing needs, Xicom renders cutting edge solutions
                                including content platforms,
                                gaming applications and media aggregators that are fully functional across the entire
                                entertainment industry.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/ecommerce.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">RETAIL & &amp; COMMERCE</h5>
                            <h6 class="card-text">Xicom renders optimized retail solutions that are in sync with your
                                brand message. We are
                                capable of delivering end-to-end business solutions including mobile or iPad apps and
                                full-cycle CRM systems.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/healthcare.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">HEALTHCARE</h5>
                            <h6 class="card-text">Adhering to Government regulations and keeping check on soaring
                                patient care costs, Xicom
                                develops healthcare solutions that accustom healthcare industry with better management
                                and
                                control abilities</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/transportation.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">TRANSPORTATION</h5>
                            <h6 class="card-text">Cut-throat competition prevails across logistic marketplaces. Our
                                solutions enable you to
                                sustain the stiff competition, access and forecast information and abridge operational
                                costs
                                to increase efficacy.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/manufacturing.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">MANUFACTURING</h5>
                            <h6 class="card-text">Improvised and elevated capacity management is need of hour. Our
                                Manufacturing solutions
                                integrate ERP and inventory management systems with web applications for enhanced data
                                and
                                legacy migration.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/banking.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">BANKING & FINANCE</h5>
                            <h6 class="card-text">Finance industry needs a streamlined distribution model. IT solutions
                                rendered by Xicom
                                focuses on monetization of data assets, development of mobile wallets and robust
                                financial
                                applications</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/travel.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">TRAVEL & TOURISM</h5>
                            <h6 class="card-text">Xicoms' Travel and Tourism industry practice leverages domain
                                expertise to provide innovative
                                application frameworks and IT solutions that improves time-to-market and increases your
                                return on investment.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/services.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">PROFESSIONAL SERVICES</h5>
                            <h6 class="card-text">Whether you are seeking solutions for Accounting, Research and
                                Development, Architecture and
                                Business Process Management or Marketing Project Management, Xicom offers diversified
                                customization.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/vendor.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">SOFTWARE VENDORS</h5>
                            <h6 class="card-text">By partnering Xicom, ISVs are able to launch software products months
                                ahead of their
                                competitors and gain enhanced productivity and development efficacy, while reducing the
                                development cost .</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <a href="">
                    <div class="card" alt="...">
                        <div class="card-body pt-1">
                            <img src="https://www.xicom.biz/images/icons/industries/elearning.png" alt="brand1"
                                class="mt-5 mb-2">
                            <h5 class="card-title text-left fw-bold pb-2 pt-1">EDUCATION</h5>
                            <h6 class="card-text">Innovative virtual learning solutions from Xicom are targeted towards
                                taking classroom
                                learning a notch higher. Integrating solutions with industry standards enables Xicom to
                                deliver world-class solutions.</h6>
                        </div>
                    </div>
                </a>
                <!-- Row -->
            </div>
            <!-- column  -->
        </div>
    </div>
</div>
<app-footnav></app-footnav>
<app-footer></app-footer>