<app-navbar></app-navbar>
<section class="header">
    <div class="background w-70 mt-5">
        <img src="https://www.xicom.biz/images/services/web-development.png" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="banner-right-content col-lg-5">

                <h1 class=" display-10 text-left fw-bold pt-5 mt-5">
                    <span style="color: hsla(240, 87%, 25%, 0.916)"><span class="text-danger"> Web</span>site <br>
                        Development</span>
                </h1>
                <h3 class="text pt-2 pb-3"> Computingprojects offers robust and scalable web application development
                    services across various platforms and industry verticals. We provide complete
                    end-to-end website development services for mission-critical web applications demanding
                    superior performance.

                </h3>
            </div>
        </div>
    </div>
</section>
<section class="services-sec bg-light pt-5 pb-5">
    <div class="container d-flex">
        <div class="row col-lg-5 col-sm-12 d-flex p-3">
            <div class="left-content">
                <h3 class="text-left">
                    <span style="color: hsla(249, 62%, 24%, 0.916)"> We are one of the
                        top web development company
                        with<span class="text-danger">50,000</span> man years of experience. </span>

                </h3>
                <p class="text pt-2 pb-3"> Computingprojects is a ISO 9001 certified
                    web development company
                    , backed by a strong workforce of 300+ experts providing high-performance,
                    custom web development services
                    of any complexity with incredible competence. We are a leading
                    offshore web development company
                    that has been delivering result-oriented web solutions to SME's across the globe for more than 20+
                    years. We are committed towards adhering to latest technology trends and successfully implementing
                    end-to-end web solutions that enhances the brand value of your your business. </p>
                <p> The development cycle at ComputingprojectsOrg enables us to take the scalability and reliability of
                    our web solutions to
                    next level so,
                    you can focus on your core business processes. The robust web applications developed by our web
                    developers enhances your online prominence through effective and interactive customer-engagement.
                </p>
                <div class="cta d-flex">
                    <a [routerLink]="['/contact']">
                        <button class="btn m-2 fw-bold" type="button"> Hire Webdevelopers </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-lg-7 col-sm-12 d-flex">
            <div class="row cols-sec listLink d-flex">
                <div class="col col-lg-6">
                    <a [routerLink]="['/web-development']" [queryParams]="{debug: true}" title="Web Development">
                        <img src="https://www.xicom.biz/images/icons/services/web-development.png" class="col-icon"
                            alt="Web Development">
                        <h3> Web Design& <br>Development </h3>
                        <div class="para"> We offer end-to-end website design, web application development and
                            portal development services for your business.</div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/mobile-app-development']" [queryParams]="{debug: true}"
                        title="Mobile App Development">
                        <img src="https://www.xicom.biz/images/icons/services/mobile-app-development.png"
                            class="col-icon" alt="Mobile App Development">
                        <h3> Ecommerce solutions </h3>
                        <div class="para">We build scalable and secure ebusiness and ecommerce solutions for customers
                            across various business verticals.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <img src="https://www.xicom.biz/images/icons/services/software-development.png" class="col-icon"
                            alt="Software Development">
                        <h3> React Development </h3>
                        <div class="para"> Computingproject offers React development services that enhances the business
                            demands of our customers across all verticals.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/consulting']" [queryParams]="{debug: true}" title="IT Consulting Services">
                        <div class="col"
                            alt="IT Consulting Services"><i class="fa-brands fa-angular fa-2xl" style="color: #e80202;"></i></div>
                        <h3> Angular Develpoment </h3>
                        <div class="para"> We provide cost effective and high performance Angular development
                            services for growing businesses and startups. </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="technologies">
    <div class="section tools-technology hide-xs">
        <div class="container-fluid aos-init aos-animate" data-aos="fade-in">
            <h1 class=" display-10 text-center fw-bold pt-5 mt-5">
                <span style="color: hsla(240, 33%, 98%, 0.916)">We use smart <span
                        class="text-danger">technologies</span>
                    to build
                    smarter applications</span>
            </h1>
        </div>
    </div>
    <hr>
    <section class="badges pt-3 pb-3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/web-development/dotnet.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/web-development/angularjs.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/web-development/php.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/web-development/java.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/web-development/nodejs.png"
                            alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-development-proc-sec></app-development-proc-sec>

<app-badges-sec></app-badges-sec>
<app-footnav></app-footnav>
<app-footer></app-footer>