<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100"src="https://i.postimg.cc/zBP0MSnH/istockphoto-1203511380-612x612.jpg" alt="">
</div>
<header>    
    <!-- Hero -->

    
        <div class="card-body pt-5">

">
            <h1 class=" pt-5mb-3 text-light">SERVICES</h1>
            <hr class="bg-danger p-1 w-50">
            <div class="container">
                <h4 class="mb-3 text-light ">Wide breadth of software development, mobile app development, web
                    development and IT
                    consulting
                    services across the entire IT spectrum.</h4>
            </div>

        </div>

   
    <!-- Hero -->
</header>
<app-footnav></app-footnav>
<app-footer></app-footer>