<header>
    <app-navbar></app-navbar>
    <!-- Hero -->

    <!-- Row -->
    <div class="card" style="background-image: url(https://i.postimg.cc/3RSF705Y/sql-republic.jpg); height:20rem;"
        alt="...">

        <div class="card-body pt-5" style="background: linear-gradient(to right, #0033cc 8%, #ffffff 100%);

">
            <h1 class="mb-3 text-light">SERVICES</h1>
            <hr class="bg-danger p-1">
            <div class="container">
                <h4 class="mb-3 text-light ">Wide breadth of software development, mobile app development, web
                    development and IT
                    consulting
                    services across the entire IT spectrum.</h4>
            </div>

        </div>

    </div>
    <!-- Hero -->
</header>
<app-footnav></app-footnav>
<app-footer></app-footer>