<section class="footer pt-5 bg-light">
    <div class="container">
        <div class="row display-inline">
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 71%, 34%, 0.916)"> OFFICES</h5>
                </div>
                <p>
                    18 Bartol Street #1155 <br>
                    San Francisco, California 94133 <br>
                    United States. <br>
                    Phone +1.408.878.3255<br>
                </p>
                <p>

                    301-10 Opal Tower, Business Bay <br>
                    Dubai, United Arab Emirates.<br>
                    Phone +971.529144795<br>
                </p>

                <p>

                    C-1/134, Janak Puri, New Delhi<br>
                    110058 India.<br>
                    Phone +91.11.25502616<br>
                </p>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> SERVICES</h5>
                </div>
                <div class="footernav">
                    <p><a href="">Web Development</a></p>
                    <p><a href="">Mobile App Development</a></p>
                    <p><a href="">IT Consulting </a></p>
                    <p><a href="">Software Development</a></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> LATEST THINKING</h5>
                    <div class="footernav">
                        <p><a href="">Big Data &amp;
                                Analytics </a></p>
                        <p><a href="">IoT</a></p>
                        <p><a href="">Blockchain</a></p>
                        <p><a href="">Artificial
                                Intelligence</a></p>
                        <p><a href="">Cloud Computing</a></p>
                    </div>
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> SOLUTIONS</h5>
                    <div class="footernav">
                        <p><a href="">Technologies </a></p>
                        <p><a href="">Hire Developers</a></p>
                        <p><a href="">IT Outsourcing</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hwb(249 9% 61% / 0.916)"> CORPORATE</h5>
                    <div class="footernav">
                        <p><a href="">Industries </a></p>
                        <p><a href="">Case Studies</a></p>
                        <p><a href="">Portfolio</a></p>
                        <p><a href="">Contact Us</a></p>
                        <p><a href="">Careers</a></p>
                        <p><a href="">Blog</a></p>
                        <p><a href="">Terms of Use</a></p>
                        <p><a href="">Privacy Policy</a></p>
                        <p><a href="">Sitemap</a></p>
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="heading">
                    <h5 class="text-right" style="color: hsla(0, 93%, 49%, 0.951)"> HAVE QUESTIONS?</h5>
                    <div class="phone-contact">Get in touch with us <a href="tel:+254-727-025050
                        "><span
                                class="number">+254-727-025050
                            </span></a></div>
                    <div id="collapseFive" class="vd collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample" >
                        <div class="rowfull">
                            Skype: <a href="skype:xicom.sales">Computingprojects.sales</a><br>
                            Email: <a href="mailto:sales@xicom.biz">sales@computingproject.org</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>