.footernav a, .rowfull a, .phone-contact a{
    text-decoration: none !important;
    padding-top: 1em;
    color: gray;
}
.mobile-show{
    display:none;
}

@media(min-width:320px) and (max-width:767px) {
    .services,.solutions,.latest-thinking,.corporate{
        display:none  !important;
    }
    .mobile-show{
        display:block;
    }
}
