<section class="footer pt-5 bg-light">
    <div class="container">
        <div class="row display-inline">
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 71%, 34%, 0.916)"> OFFICES</h5>
                </div>
                <p>5-Star, Mbuni Drive, <br>
                    Garden City, <br>
                    Nairobi, Kenya.<br>
                    +254 727 025050<br>
                </p>
                <p>
                    Block C ,Ushuru Pension Plaza, <br>
                    Westlands, <br>
                    Nairobi, Kenya.<br>
                    +254 727 025050<br>
                </p>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> SERVICES</h5>
                </div>
                <div class="footernav">
                    <p><a Web Development></a></p>
                    <p><a [routerLink]="['/mobile-eapp-development']">Mobile App Development</a></p>
                    <p><a [routerLink]="['/consulting']">IT Consulting </a></p>
                    <p><a [routerLink]="['/software-development']">Software Development</a></p>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> LATEST THINKING</h5>
                    <div class="footernav">
                        <p><a [routerLink]="['/big-data-and-analytics']">Big Data &amp;
                                Analytics </a></p>
                        <p><a [routerLink]="['/internet-of-things']">IoT</a></p>
                        <p><a [routerLink]="['/blockchian']">Blockchain</a></p>
                        <p><a [routerLink]="['/artificial-intelligence']">Artificial
                                Intelligence</a></p>
                        <p><a [routerLink]="['/cloud-computing']">Cloud Computing</a></p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-2">
                <div class="heading">
                    <h5 style="color: hwb(249 9% 61% / 0.916)"> CORPORATE</h5>
                    <div class="footernav">
                        <p><a [routerLink]="['/industries']">Industries </a></p>
                        <p><a [routerLink]="['/case-studies']">Case Studies</a></p>
                        <p><a [routerLink]="['/portfolio']">Portfolio</a></p>
                        <p><a [routerLink]="['/contact']">Contact Us</a></p>
                        <p><a [routerLink]="['/careers']">Careers</a></p>
                        <p><a [routerLink]="['/blog']">Blog</a></p>
                        
                    </div>
                </div>

            </div>
            <div class="col-lg-4">
                <div class="heading">
                    <h5 style="color: hsla(249, 62%, 24%, 0.916)"> SOLUTIONS</h5>
                    <div class="footernav">
                        <p><a [routerLink]="['/technologies']">Technologies </a></p>
                        <p><a [routerLink]="['/hire-developers']">Hire Developers</a></p>
                        <p><a [routerLink]="['/consulting']">IT Outsourcing</a></p>
                    </div>
                    <h5 class="text-right" style="color: hsla(0, 93%, 49%, 0.951)"> HAVE QUESTIONS?</h5>
                    <div class="phone-contact">Get in touch with us <a href="tel:+254-727-025050
                        "><span class="number">+254-727-025050
                            </span></a></div>
                    <div id="collapseFive" class="vd collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="rowfull">
                            Skype: <a href="skype:computingprojectorg.sales">Computingprojects.sales</a><br>
                            Email: <a href="mailto:sales@xicom.biz">sales@computingproject.org</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>