<section class="services-sec bg-light pt-5 pb-5">
    <div class="container d-flex">
        <div class="row col-lg-5 col-sm-12 d-flex p-3">
            <div class="left-content">
                <h3 class="text-left">
                    <span style="color: hsla(249, 62%, 24%, 0.916)">We assist startups, <br> SME's and large enterprises in
                        making critical <span class="text-danger">business</span> decisions. </span>
                </h3>
                <p class="text pt-2 pb-3"> Computingprojects provides a broad range of web application development and
                    offshore
                    software development services to help you harness the power of technology, consulting
                    and maximize your online business investment.
                    Our services address specific needs of enterprise IT programs, communications and Internet
                    technology product development. Client's benefit from seamless coordination across strategy,
                    implementation, and management of their technology programs and from our expertise in focused
                    industries, strong quality orientation, cross-technology expertise, and distributed project
                    management capabilities.
                </p>
                <div class="cta d-flex">
                    <button class="btn m-2 fw-bold" type="button">  Explore Services </button>
                </div>
            </div>
        </div>
        <div class="row col-lg-7 col-sm-12 d-flex">
            <div class="row cols-sec listLink d-flex">
                <div class="col col-lg-6">
                    <a [routerLink]="['/web-development']" [queryParams]="{debug: true}" title="Web Development">
                        <img src="https://www.xicom.biz/images/icons/services/web-development.png" class="col-icon"
                            alt="Web Development">
                        <h3> Web Development </h3>
                        <div class="para"> Take advantage of our complete range of cutting-edge and highly reliable
                            custom web development services to empower your business to surge ahead of the
                            competition. </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/mobile-app-development']" [queryParams]="{debug: true}" title="Mobile App Development">
                        <img src="https://www.xicom.biz/images/icons/services/mobile-app-development.png"
                            class="col-icon" alt="Mobile App Development">
                        <h3> Mobile App Development </h3>
                        <div class="para">Our mobile application development services helps you address evolving
                            market challenges by defining, designing and building applications tailored to meet your
                            business requirements. </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}" title="Software Development">
                        <img src="https://www.xicom.biz/images/icons/services/software-development.png" class="col-icon"
                            alt="Software Development">
                        <h3> Software Development </h3>
                        <div class="para"> Xicoms' cross-industry, offshore software development services help you
                            craft a vision for your organization and then implement a result-oriented technology
                            framework that will turn that vision into reality. </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a  [routerLink]="['/consulting']" [queryParams]="{debug: true}" title="IT Consulting Services">
                        <img src="https://www.xicom.biz/images/icons/services/it-consulting.png" class="col-icon"
                            alt="IT Consulting Services">
                        <h3> IT Consulting Services </h3>
                        <div class="para"> Our cross-industry consulting services help you craft a vision for your
                            organization and then provide a practical business and technology framework that will
                            make that vision a reality. </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>