<section class="badges pt-3 pb-3">
    <div class="container">
        <div class="row d-flex">
            <div class="col-lg-3 col-sm-3">
                <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                    <img class="card-img-top" src="https://www.xicom.biz/images/awards.png" alt="Card image cap">
                    <div class="card-body text-center text-white">
                        <h5> Top 10 Software <br> Development company </h5>
                        <h6 class="award">CIO Review . 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                    <img class="card-img-top" src="https://www.xicom.biz/images/awards.png" alt="Card image cap">
                    <div class="card-body text-center text-white">
                        <h5> Top Blockchain App <br> Development Company</h5>
                        <h6 class="award">Clutch . 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                    <img class="card-img-top" src="https://www.xicom.biz/images/awards.png" alt="Card image cap">
                    <div class="card-body text-center text-white">
                        <h5> Top 10 Mobile App <br> Development Company </h5>
                        <h6 class="award">GoodFirms . 2021</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3">
                <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                    <img class="card-img-top" src="https://www.xicom.biz/images/awards.png" alt="Card image cap">
                    <div class="card-body text-center text-white">
                        <h5> Top 5 React Native <br> Development Company </h5>
                        <h6 class="award">Mobile App Daily . 2021</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>