
h5{
font-size:1rem;
}
.row{
    display:flex;
}
.badges{
        background-color: #1b0b63;
}
img{
    max-width: 25%;
}

@media only screen and (max-width: 600px) {
    .bg-img {
        min-height: 35rem;
    }

    h5{
        font-size: 0.7rem;
    }

    h6{
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }

    .left-content {
        min-width: 100%;
    }

    .listLink-mobile {
        display: block;
        margin:1rem 1rem 1rem 1rem;
    }

    .listLink-mobile-none {
        display: none;
    }

    .card {
        max-width: 90%;
    }
    h1 span{
        font-size:1rem;
    }
   
}