<section class="development-process bg-light">
    <div class="container">
        <div class="hsgroup">
            <h1 class="title display-5 text-center">
                <span style="color: hsla(237, 62%, 24%, 0.916)">Our Development</span>
                <span style="color: hsla(0, 81%, 44%, 0.916)"> process</span>
            </h1>
            <div class="line d-flex justify-content-center col-lg-4">
                <hr class="w-20">
            </div>
            <h4 class="text-secondary pt-2">We deliver highest level of customer service by deploying innovative and
                collaborative project management systems to build the most professional, robust and highly
                scalable web &amp; mobile solutions with highest quality standards.</h4>
        </div>
        <div class="row pt-3">
            <div class="col-lg-3">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 step-image">
                        <img src="https://i.postimg.cc/8CHhHNYp/job-post.png" alt="wrapkit"
                            class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h4 class="numbering-on-mobile">Get started in 4 easy steps...</h4>
                            <h4>1. Post Your Project Requirements</h4>
                            <p class="sub-title-area">Our analysts will thoroughly review your project requirements and
                                select the most experienced developers best suited for your project.</p>

                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-3">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 step-image">
                        <img src="https://i.postimg.cc/8CHhHNYp/job-post.png" alt="wrapkit"
                            class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h4>2. Discuss Project Details with our Analysts</h4>
                            <p class="sub-title-area">Our experts will contact you within no time to discuss your
                                project related queries and to offer the best solution for your project development.</p>

                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-3">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 step-image">
                        <img src="https://i.postimg.cc/8CHhHNYp/job-post.png" alt="wrapkit"
                            class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h4>3. Choose Engagement Terms &amp; Timelines</h4>
                            <p class="sub-title-area">Based on the project consultation provided by our experts, you can
                                choose the engagement timelines for your project execution.</p>

                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <div class="col-lg-3">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12 step-image">
                        <img src="https://i.postimg.cc/8CHhHNYp/job-post.png" alt="wrapkit"
                            class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2">
                            <h4>4. Securely Pay Online and Get Started!</h4>
                            <p class="sub-title-area">Make payment through our 100% secure online system and our team
                                shall immediately get started on your project within 24 hours.</p>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>

        </div>
    </div>
</section>