h1 {
    font-size: 4rem;
    text-transform: uppercase;
     padding-top: 2rem;
}
.title{
    font-size: 4rem;
    text-transform: uppercase;
     padding-top: 1rem; 
     font-weight: bold;
}
h5,
h6 {
    text-transform: uppercase;
}

.line {
    height: 5px;
    border-width: 0;
    background-color: rgb(137, 5, 5)
}


.img-bg {
    background-repeat: no-repeat;
    position: fixed;
    z-index: -4;
}

header {
    background-color: linear-gradient(to left, #04102ccc 50%, #00000083 100%);
}

.success-matters {
    background-color: rgb(215, 214, 214);
}
.step-image{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.rounded-circle {
    border: dashed gray 1px;
    max-height: 5rem;
}

a {
    text-decoration: none;
}

.display-3 {
    font-weight: 500;
}
.numbering-on-mobile{
    display:none;
}

@media(min-width:320px) and (max-width:767px) {
    span {
        font-size: 2rem;
        font-weight: 900;
        padding-top:0rem;
        padding-bottom:0rem;
    }
    h1 {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    .text-secondary{
        font-size:1rem;
    }
    img{
        display:none;
    }
    .numbering-on-mobile{
        display:block;
    }
    .title{
        font-size: 2rem;
        text-transform: uppercase;
         padding-top: 0.1rem; 
         font-weight: bold;
    }
}