<app-navbar></app-navbar>
<section class="header">
    <div class="background w-70 mt-5">
        <img src="https://www.xicom.biz/images/services/quality-testing.png" alt="Mobile App Development" class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="banner-right-content col-lg-5">

                <h1 class=" display-10 text-left fw-bold pt-5 mt-5">
                    <span style="color: hsla(240, 87%, 25%, 0.916)">Quality <br> assurance& <br> <span
                            class="text-danger">Testing</span>
                        Development</span>
                </h1>
                <h3 class="text pt-2 pb-3"> Exemplary track record of delivering highly stable and quality focused
                    software, web and mobile applications across different market verticals.
                </h3>
            </div>
        </div>
    </div>
</section>
<app-services-sec></app-services-sec>

<app-development-proc-sec></app-development-proc-sec>

<app-footnav></app-footnav>
<app-footer></app-footer>