<app-navbar></app-navbar>
<section class="header">
    <div class="background w-70 mt-5">
        <img src="https://www.xicom.biz/images/services/software-development.png" alt="Mobile App Development"
            class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="banner-right-content col-lg-5">

                <h1 class=" display-10 text-left fw-bold pt-5 mt-5">
                    <span style="color: hsla(240, 87%, 25%, 0.916)"><span class="text-danger"> soft</span>ware<br>
                        Development</span>
                </h1>
                <h3 class="text pt-2 pb-3"> Computingprojects offers robust and scalable mobile application development
                    services across various platforms and industry verticals. We provide complete end-to-end mobile app
                    development services for mission-critical mobile applications demanding superior performance.

                </h3>
            </div>
        </div>
    </div>
</section>
<section class="services-sec bg-light pt-5 pb-5">
    <div class="container d-flex">
        <div class="row col-lg-5 col-sm-12 d-flex p-3">
            <div class="left-content">
                <h3 class="text-left">
                    <span style="color: hsla(249, 62%, 24%, 0.916)"> We are one of the
                        top Software development company
                        with<span class="text-danger"> 50,000</span> man years of experience. </span>

                </h3>
                <p class="text pt-2 pb-3"> Computingprojects is a ISO 9001 certified
                    software development company
                    , backed by a strong workforce of 300+ experts providing high-performance,
                    custom software development services
                    of any complexity with incredible competence. We are a leading
                    offshore software development company
                    that has been delivering result-oriented web solutions to SME's across the globe for more than 20+
                    years. We are committed towards adhering to latest technology trends and successfully implementing
                    end-to-end software solutions that enhances the brand value of your your business. </p>
                <p> The development cycle at ComputingprojectsOrg enables us to take the scalability and reliability of
                    our software solutions to
                    next level so,
                    you can focus on your core business processes. The robust software applications developed by our wapp
                    developers enhances your online prominence through effective and interactive customer-engagement.
                </p>
                <div class="cta d-flex">
                    <a [routerLink]="['/contact']">
                        <button class="btn m-2 fw-bold" type="button"> Hire Software developers </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-lg-7 col-sm-12 d-flex">
            <div class="row cols-sec listLink d-flex">
                <div class="col col-lg-6">
                    <a [routerLink]="['/web-development']" [queryParams]="{debug: true}" title="Web Development">

                        <h3> <!--<i class="fa-solid fa-square-code fa-bounce" style="color: #ea3110;">-->

                            Software Design& <br>Development </h3>
                        <div class="para"> We pride ourselves on providing comprehensive solutions for your online
                            needs. Whether you're looking for a brand new website design from scratch, customized web
                            application development to fit your specific business requirements, or the creation of a
                            secure and user-friendly portal for your customers or employees, we've got you covered.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/mobile-app-development']" [queryParams]="{debug: true}"
                        title="Mobile App Development">
                        <h3> Ecommerce solutions </h3>
                        <div class="para">We have a proven track record of delivering secure and scalable ecommerce and
                            ebusiness solutions that meet the unique needs of businesses across a range of verticals.
                            From initial concept to final product deployment, we work closely with our customers to
                            ensure maximum satisfaction and success.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> React Development </h3>
                        <div class="para"> At Computingprojects, our React development services are designed to meet the
                            specific business needs of our customers across all verticals. We work to enhance your
                            online presence and improve your overall success through customized solutions.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> Java Development </h3>
                        <div class="para"> Our Java development services are tailored to enhance the unique business
                            demands of our customers across all verticals. We work closely with you to create customized
                            solutions that will elevate your online presence and drive success.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> PHP Development </h3>
                        <div class="para"> Our React development services are designed to meet the specific business
                            needs of our customers across all verticals. We work to enhance your online presence and
                            improve your overall success through customized solutions.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/consulting']" [queryParams]="{debug: true}" title="IT Consulting Services">
                        <h3> Angular Develpoment </h3>
                        <div class="para"> Our Angular development services are geared towards helping growing
                            businesses and startups achieve high performance at a cost-effective price point. We are
                            dedicated to delivering customized solutions that will take your online presence to the next
                            level.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="applications">
    <div class="container p-3 m-3">
        <div class="row">
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Custom Web <br> Development</h5>
                            <p class="card-text text-white">We help you uncover the opportunities of growth and
                                innovation by
                                building cutting-edge web apps that redefine emerging trends and creates new
                                opportunities for your business.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Custom Web <br> Development</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Ecommerce<br> Development</h5>
                            <p class="card-text text-white"> Whether you're looking
                                to build a brand new ecommerce platform or optimize an existing one, our team of experts
                                is here to help you drive sales and enhance customer
                                satisfaction.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Ecommerce<br> Development</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Content <br>Management System</h5>
                            <p class="card-text text-white">Streamline content
                                creation, publishing, and distribution, and focus on growing your business.
                                With our CMS, you can ensure your content is organized and engaging
                                for your audience.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Content <br> Management System</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Enterprise Web <br> Applications</h5>
                            <p class="card-text text-white">Our team of works with you to create
                                customized solutions that streamline your business processes. We use cutting-edge
                                technologies to deliver
                                secure and high-performance applications.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Enterprise Web <br> Applications</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4 mt-3">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">School <br>Management System</h5>
                            <p class="card-text text-white">Our customized SMS solutions provide a centralized platform
                                for managing student data, and other important information. Ensure smooth operation of
                                your institution, and enhance student learning outcomes.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">School<br> Management System</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4 mt-3">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Third Party <br> Intergrations</h5>
                            <p class="card-text text-white"> Our team of experts has experience integrating
                                third-party tools, including CRMs, ERPs, payment gateways. Select the right tools for
                                your business.
                                With our expertise, you can streamline your operations, and
                                drive growth.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Third Party <br> Intergrations</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4 mt-3">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Intranet <br> Apllications</h5>
                            <p class="card-text text-white"> We offer customized intranet solutions that facilitate
                                collaboration and
                                knowledge sharing and enhancing workflow
                                efficiency. With our expertise, you can streamline your operations, and enhance
                                satisfaction.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Intranet <br> Apllications</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 col-sm-6 mb-4 mt-3">
                <!-- Row -->
                <div class="card" style="background-image: url(https://i.postimg.cc/xTT8x4rF/webdev.jpg); height:20rem;"
                    alt="...">

                    <div class="card-body pt-5"
                        style="background: linear-gradient(to bottom, #0707075b 0%, #000000 100%);                ">
                        <div class="card-body">
                            <h5 class=" text-white">Smart ITES <br> System</h5>
                            <p class="card-text text-white">Our Smart ITES 
                                system services help businesses automate and optimize IT-enabled
                                services.Leverage cutting-edge technologies such as
                                AI, Machine Learning, and NLP to enhance customer satisfaction.</p>
                        </div>
                    </div>
                    <div class="card-overlay bg-info">
                        <div class="card-overlay-content">
                            <h5 class=" text-white">Smart ITES <br> System</h5>
                            <a [routerLink]="['/contact']">
                                <button class="btn btn-outline-success m-3" type="button">GET A QUOTE</button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->

        </div>
    </div>
</section>

<section class="technologies">
    <div class="section tools-technology hide-xs">
        <div class="container-fluid aos-init aos-animate" data-aos="fade-in">
            <h1 class=" display-10 text-center fw-bold pt-5 mt-5">
                <span style="color: hsla(240, 33%, 98%, 0.916)">We use smart <span
                        class="text-danger">technologies</span>
                    to build
                    smarter applications</span>
            </h1>
        </div>
    </div>
    <hr>
    <section class="badges pt-3 pb-3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/swift.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/xamarin.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/android-studio.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/phonegap.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/ionic.png"
                            alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-development-proc-sec></app-development-proc-sec>

<app-badges-sec></app-badges-sec>
<app-footnav></app-footnav>
<app-footer></app-footer>