@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {
        color: #f2f2f3;
    }

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .dropdown-toggle:hover {
        transform: scale(1.1);
        text-decoration: underline;
        color:rgb(8, 8, 61);
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}


button {
    position: absolute;
    right: 10px;
    color:rgb(244, 244, 246);
    background-color: rgb(8, 8, 96);
}
button:hover{
    color:white;
    background-color: rgba(254, 10, 10, 0.893);
    transform: scaleX(1.1);
}
.navbar-brand{
    font-size: 1.2rem;
    font-weight: 600;

}

.header_change{
    background-color: rgb(213, 212, 212);
    color:#0000ff;
}

.header_change:hover{
    background-color: rgb(250, 247, 247);
    color:#0000ff;
}

.button_change{
    background-color: rgba(254, 10, 10, 0.893);
    color:white;
}

.brand_change{
    color:black
}

.header_change a{
    color:#0000ff;
}

.collapse{
    font-weight:bold;
    color:#0000ff;
    text-decoration:none;
    font-size:16px;
}

.nav-link{
    color:rgb(250, 247, 247);
}.nav-link:hover{
    color:rgb(187, 12, 12);
}

.ToggleExternalContent{
    padding-top: 5rem;
    padding-left: 2rem;
}