<header>
  <nav class="navbar navbar-expand-lg fixed-top pt-2" [class.header_change]="header_variable">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/computing-projects-logo.png" alt="Logo" width="60" height="48"
          class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <a class="navbar-brand nav-link" href="#" [class.brand_change]="header_variable">Computingprojects</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown m-1">
            <a class="nav-link  dropdown-toggle"  [routerLink]="['/services']" [queryParams]="{debug: true}" data-bs-toggle="dropdown"> Services </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/services']" [queryParams]="{debug: true}" > Web Development</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Mobile App Development</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Software Engineering</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> IT Consulting Services</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Qulity Assurance & Testing</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-1">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Latest Thinking </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Big Data & Analytics</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> IoT</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Blockchain</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Artificial Intelligence</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Cloud Computing</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-1">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Industries </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Automotive</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Media & Entertainment</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Healthcare</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Manufacturing</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Banking & Finance</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Real Estate</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Retail & Commerce</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Logistics & Transportation</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Travel & Tourism</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Education & E-Learning</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-1">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Solutions </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Big Data & Analytics</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Hire Developers</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> IT Outsourcing</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown m-1">
            <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Corporate </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"> Portfolio</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Case Studies</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Testimonials</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Blog</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Careers</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#"> Contact Us</a></li>
            </ul>
          </li>
          <li class="nav-item m-1">
            <a class="nav-link" href="https://wa.me/+254-727-025050">+254-727-025050</a>
          </li>
          <form class="d-flex m-1">
            <button class="btn btn-light" type="button">GET A FREE ESTIMATION</button>
          </form>
        </ul>
      </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
  </nav>

</header>



<!--
  
  
  
  <nav class="navbar navbar-expand-lg bg-body-dark w-100">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="./assets/images/computing-projects-logo.png" alt="Logo" width="60" height="48"
                  class="d-inline-block align-text-top">
          </a>
          <ul class="navbar-nav me-5 mb-2 mb-lg-0">
              <li class="nav-item text-dark">Computingprojects</li>
          </ul>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                      <a class="nav-link active text-white" routerLink="home" routerLinkActive="active-link"
                          [routerLinkActiveOptions]="{exact:true}">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="./about-us" routerLinkActive="active-link">About Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="./services" routerLinkActive="active-link">Services</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="./contact" routerLinkActive="active-link">Contact</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-white" routerLink="./blog" routerLinkActive="active-link">Blog</a>
                  </li>
              </ul>
              <form class="d-flex" role="search">
                  <button class="btn btn-outline-success" type="submit">Get a quote</button>
              </form>
          </div>
      </div>
  </nav>
  
  
  
  
  
  
  <nav class="navbar navbar-expand-lg bg-body-tertiary w-100">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/images/computing-projects-logo.png" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
          Computingprojects
        </a>
        <a class="navbar-brand" href="#">
                  Computingprojects
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
                      <button class="btn btn-outline-success" type="submit">Get a quote</button>
          </form>
        </div>
      </div>
    </nav>
  
  -->