.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    ;
    z-index: -10;
}
h1{
    text-transform: uppercase;
}
h3{
    color:rgba(227, 225, 225, 0.908);
}
.header {
    background: linear-gradient(to bottom, #6c6a6ac9 0%, #666666d1 100%);
}
.technologies{
    background-color: rgb(16, 16, 109);
}
.badges{
    background-color: #1b0b63;
}
hr{
    background-color: rgb(187, 31, 31);
}

a{
    text-decoration: none;
}
button {
    border-radius: 24px;
    background-color: rgb(5, 5, 75);
    color: white;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(172, 12, 12);
    color: white;
}
.text-left{
    font-weight: 700;
}
h3{
    color: hsla(249, 62%, 24%, 0.916);
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.card:hover .card-overlay {
    display: block;
    color: #020a5e;
}

.card-overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}
.listLink-mobile-none {
    display: flex;
}

.listLink-mobile {
    display: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
@media only screen and (max-width: 600px) {
    .bg-img {
        min-height: 35rem;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }

    .left-content {
        min-width: 100%;
    }

    .listLink-mobile {
        display: block;
        margin:1rem 1rem 1rem 1rem;
    }

    .listLink-mobile-none {
        display: none;
    }

    .card {
        max-width: 90%;
    }
    h1 span{
        font-size:1rem;
    }
   
}