<app-navbar></app-navbar>
<section class="header">
    <div class="background w-70 mt-5">
        <img src="https://www.xicom.biz/images/services/mobile-app-development.png" alt="Mobile App Development"
            class="w-100">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="banner-right-content col-lg-5">

                <h1 class=" display-10 text-left fw-bold pt-5 mt-5">
                    <span style="color: hsla(240, 87%, 25%, 0.916)"><span class="text-danger"> Mobile</span> app <br>
                        Development</span>
                </h1>
                <h3 class="text pt-2 pb-3"> Computingprojects offers robust and scalable mobile application development
                    services across various platforms and industry verticals. We provide complete end-to-end mobile app
                    development services for mission-critical mobile applications demanding superior performance.

                </h3>
            </div>
        </div>
    </div>
</section>
<app-services-sec></app-services-sec>
<section class="technologies">
    <div class="section tools-technology hide-xs">
        <div class="container-fluid aos-init aos-animate" data-aos="fade-in">
            <h1 class=" display-10 text-center fw-bold pt-5 mt-5">
                <span style="color: hsla(240, 33%, 98%, 0.916)">We use smart <span
                        class="text-danger">technologies</span>
                    to build
                    smarter applications</span>
            </h1>
        </div>
    </div>
    <hr>
    <section class="badges pt-3 pb-3">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/swift.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/xamarin.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/android-studio.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/phonegap.png"
                            alt="Card image cap">
                    </div>
                </div>
                <div class="col-lg-2 col-sm-2">
                    <div class="card badge" style="background-color:rgba(0, 0, 0, 0)">
                        <img class="card-img-top"
                            src="https://www.xicom.biz/images/tools/services/mobile-development/ionic.png"
                            alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-development-proc-sec></app-development-proc-sec>

<app-badges-sec></app-badges-sec>
<app-footnav></app-footnav>
<app-footer></app-footer>