<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/zBP0MSnH/istockphoto-1203511380-612x612.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light">CORPORATE</h1>
            <div class="line w-20"></div>
            <h2 class="text-light ">ComputingprojecrsOrg is ranked amongst Kenya's top software development, mobile
                application development and IT consulting companies.
            </h2>
        </div>

    </div>
    <!-- Hero -->
</header>
<section class="latest-thinking bg-light p-3">
    <div class="latest-thinking-sec mbs">
        <div class="container" data-aos="fade-up">
            <div class="hsgroup row mr0">
                <div class="col-sm-8 pt-2 mt-2 mb-2">
                    <h2 class="my-2 fw-bold ls-tight" style="color: hsl(220, 97%, 14%)">
                        Software Develpment with <br />
                        <span style="color: hsl(2, 87%, 38%)">enviable</span> track record.
                    </h2>
                    <div class="small-heading text-secondary">Started in the year 2017, Computingprojects is an ISO 9001:2010
                        certified software development company with 100+ highly skilled IT experts catering
                        result-oriented and cost-competitive solutions to SMEs across the world. Being a premium partner
                        of NASSCOM and STPI, Xicom holds the trust of over 1500+ clients across diverse business
                        verticals. This trust is based on our reputation as an exemplary IT outsourcing company among
                        leading business houses and standardizing organizations.</div>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <img class="lt-img" src="https://www.xicom.biz/images/careers.jpg" alt="Contact Xicom">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-why-us></app-why-us>
<app-footnav></app-footnav>
<app-footer></app-footer>