<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/zBP0MSnH/istockphoto-1203511380-612x612.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light">CORPORATE</h1>
            <div class="line w-20"></div>
            <h2 class="text-light ">ComputingprojecrsOrg is ranked amongst Kenya's top software development, mobile
                application development and IT consulting companies.
            </h2>
        </div>

    </div>
    <!-- Hero -->
</header>
<section class="latest-thinking bg-light p-3">
    <div class="latest-thinking-sec mbs">
        <div class="container" data-aos="fade-up">
            <div class="hsgroup row mr0">
                <div class="col-sm-8 pt-2 mt-2 mb-2">
                    <h2 class="my-2 fw-bold ls-tight" style="color: hsl(220, 97%, 14%)">
                        Software Develpment with <br />
                        <span style="color: hsl(2, 87%, 38%)">enviable</span> track record.
                    </h2>
                    <div class="small-heading text-secondary">Started in the year 1989, Computingprojects is an ISO 9001:2010
                        certified software development company with 100+ highly skilled IT experts catering
                        result-oriented and cost-competitive solutions to SMEs across the world. Being a premium partner
                        of NASSCOM and STPI, Xicom holds the trust of over 1500+ clients across diverse business
                        verticals. This trust is based on our reputation as an exemplary IT outsourcing company among
                        leading business houses and standardizing organizations.</div>
                </div>
                <div class="col-sm-4">
                    <a href="">
                        <img class="lt-img" src="https://www.xicom.biz/images/careers.jpg" alt="Contact Xicom">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-services-sec></app-services-sec>
<section class="services-sec bg-light pt-5 pb-5">
    <div class="container d-flex">
        <div class="row col-lg-5 col-sm-12 d-flex p-3">
            <div class="left-content">
                <h3 class="text-left">
                    <span style="color: hsla(249, 62%, 24%, 0.916)"> We are one of the
                        top app development company
                        with<span class="text-danger"> 50,000</span> man years of experience. </span>

                </h3>
                <p class="text pt-2 pb-3"> Computingprojects is a ISO 9001 certified
                    app development company
                    , backed by a strong workforce of 300+ experts providing high-performance,
                    custom app development services
                    of any complexity with incredible competence. We are a leading
                    offshore app development company
                    that has been delivering result-oriented web solutions to SME's across the globe for more than 20+
                    years. We are committed towards adhering to latest technology trends and successfully implementing
                    end-to-end web solutions that enhances the brand value of your your business. </p>
                <p> The development cycle at ComputingprojectsOrg enables us to take the scalability and reliability of
                    our app solutions to
                    next level so,
                    you can focus on your core business processes. The robust app applications developed by our wapp
                    developers enhances your online prominence through effective and interactive customer-engagement.
                </p>
                <div class="cta d-flex">
                    <a [routerLink]="['/contact']">
                        <button class="btn m-2 fw-bold" type="button"> Hire Appdevelopers </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="row col-lg-7 col-sm-12 d-flex">
            <div class="row cols-sec listLink d-flex">
                <div class="col col-lg-6">
                    <a [routerLink]="['/web-development']" [queryParams]="{debug: true}" title="Web Development">

                        <h3> <!--<i class="fa-solid fa-square-code fa-bounce" style="color: #ea3110;">-->

                            App Design& <br>Development </h3>
                        <div class="para"> We pride ourselves on providing comprehensive solutions for your online
                            needs. Whether you're looking for a brand new website design from scratch, customized web
                            application development to fit your specific business requirements, or the creation of a
                            secure and user-friendly portal for your customers or employees, we've got you covered.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/mobile-app-development']" [queryParams]="{debug: true}"
                        title="Mobile App Development">
                        <h3> Ecommerce solutions </h3>
                        <div class="para">We have a proven track record of delivering secure and scalable ecommerce and
                            ebusiness solutions that meet the unique needs of businesses across a range of verticals.
                            From initial concept to final product deployment, we work closely with our customers to
                            ensure maximum satisfaction and success.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> React Development </h3>
                        <div class="para"> At Computingprojects, our React development services are designed to meet the
                            specific business needs of our customers across all verticals. We work to enhance your
                            online presence and improve your overall success through customized solutions.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> Java Development </h3>
                        <div class="para"> Our Java development services are tailored to enhance the unique business
                            demands of our customers across all verticals. We work closely with you to create customized
                            solutions that will elevate your online presence and drive success.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/software-development']" [queryParams]="{debug: true}"
                        title="Software Development">
                        <h3> PHP Development </h3>
                        <div class="para"> Our React development services are designed to meet the specific business
                            needs of our customers across all verticals. We work to enhance your online presence and
                            improve your overall success through customized solutions.
                        </div>
                    </a>
                </div>
                <div class="cols col-lg-6">
                    <a [routerLink]="['/consulting']" [queryParams]="{debug: true}" title="IT Consulting Services">
                        <h3> Angular Develpoment </h3>
                        <div class="para"> Our Angular development services are geared towards helping growing
                            businesses and startups achieve high performance at a cost-effective price point. We are
                            dedicated to delivering customized solutions that will take your online presence to the next
                            level.</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-why-us></app-why-us>
<app-footnav></app-footnav>
<app-footer></app-footer>