.img-bg {
    position: absolute;
    z-index: -4;
}

.line {
    height: 5px;
    border-width: 0;
    background-color: rgb(137, 5, 5)
}

h3 {
    text-transform: uppercase;
    font-weight: 900;
    padding-top: 2rem;
}
h5{
    color:white;
}

form {
    justify-content: space-between;
}

select{
    width: 100%;
    height:100%;
    border: solid white 1px;

}

button{
color:white;
background-color: rgb(14, 14, 104);
}

button:hover{
    color:white;
    background-color: rgb(172, 24, 24);
    transform: scale(1.1);
}

.contactform{
    background-color: aliceblue;
}