<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/vDRYLWSN/iot.jpg" alt="">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light fw-bold">internet of <br>things</h1>
            <div class="line w-20"></div>
            <h2 class="text-light pt-2 pb-3">Computingprojects provides big data analytics services to help enterprises integrate
                and bring together large volumes of data, transform & analyze the same leading to critical business
                decision making.
            </h2>
        </div>

    </div>
    <!-- Hero -->
</header>
<app-development-proc-sec></app-development-proc-sec>
<app-why-us></app-why-us>
<app-footnav></app-footnav>
<app-footer></app-footer>