<app-navbar></app-navbar>
<div class="img-bg w-100">
    <img class="w-100" src="https://i.postimg.cc/3xcFc8Yv/techguy.jpg" alt="" style="height:40rem;">
</div>
<header>
    <!-- Hero -->
    <div class="card-body pt-5">">
        <div class="container">
            <h1 class=" pt-5 mb-3 text-light fw-bold">HEALTHCARE</h1>
            <div class="line w-20"></div>
            <h2 class="text-light pt-2 pb-3">Making tomorrow's healthcare industry more effective, efficient and
                affordable by building solutions that strongly impacts healthcare organizations.</h2>
        </div>

    </div>
    <!-- Hero -->
</header>

<app-footnav></app-footnav>
<app-footer></app-footer>